@use '../../index.scss' as *;

.signup {
   @include flex-center();
   @include set-size(100%);
   justify-content: center;
   padding-top: 10vh;
   .signup-form {
      @include set-size(100%);
      @include flex-center();
      flex-direction: column;
      gap: 1em;
      padding: 1rem;
      max-width: 730px;
      // align-self: center;
      // border-radius: 5%;
   }
}
