@use '../../index.scss' as *;

.forgot-password-page {
   display: flex;
   flex-direction: column;
   @include set-size(100%);
   @include devices(mobile) {
      padding-top: 0;
   }
   padding-top: 10vh;
   align-items: center;
   justify-content: center;
}
