@use '../../index.scss' as *;

.macro-calculator-container {
   @include flex-center();
   @include set-size(100%);
   justify-content: center;
   @include devices(mobile) {
      padding-top: 0;
   }
   padding-top: 10vh;
   .macro-calculator-form {
      @include set-size(100%);
      @include flex-center();
      flex-direction: column;
      max-width: 720px;
      padding: 1rem;
      gap: 1em;
   }
   .macro-calculator-icon {
      align-self: center;
   }
}
