.nutrient-type-text {
   font-weight: 700;
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

.range-text {
   opacity: 50%;
}
