@use '../../index.scss' as *;

.calculator-page {
   @include flex-center();
   flex-direction: column;
   max-width: 720px;
   padding: 1rem;
   gap: 1em;
}

.goal-card-items {
   @include flex-center();
   flex-wrap: wrap;
   gap: 3rem;
}
