@use '../../index.scss' as *;

.home-title-image {
   position: relative;

   img {
      @include devices(mobile) {
         @include set-size(100%);
      }
      @include set-size(50vh, 50vw);
   }
   .home-btn {
      @include devices(mobile) {
         align-self: center;
      }
      align-self: left;
   }
}
