@use '../../index.scss' as *;

.macro-calculator-container {
   @include flex-center();
   @include set-size(100%);
   justify-content: center;
   @include devices(mobile) {
      padding: 0;
   }
   @include devices(tablet) {
      padding-left: 1rem;
      padding-right: 1rem;
   }
   padding-left: 2rem;
   padding-right: 2rem;
   .macro-calculator-form {
      @include set-size(100%);
      @include flex-center();
      flex-direction: column;
      max-width: $calc-form-max-width;
      padding: 1rem;
      gap: 1em;
   }
   .macro-calculator-icon {
      align-self: center;
   }
}
