@use '../../../../../index.scss' as *;

.outer-container {
   @include set-size(100%);
   @include flex-center();

   .slider-container {
      width: 100%;
      height: 100%;
      @include flex-center();
      #slider {
         @include set-size(100%);
         display: flex;
         @include devices(mobile) {
            justify-content: center;
         }
         justify-content: flex-start;
         flex-wrap: wrap;
         align-content: center;

         .slider-card {
            @include devices(mobile) {
               @include set-size(auto, 300px);
            }
            @include set-size(auto);
            display: inline-block;
            margin: 5px;
         }
      }
   }
}
