@use '../../../../index.scss' as *;

.search-form {
   padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 1rem;
   max-width: $calc-form-max-width;
}

.search-form-tabs {
   padding: 2rem;
}
